body {
    font-family: Arial;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 20px; /*內邊距*/
    display: flex;
    justify-content: center; /*水平居中*/
    align-items: center; /*垂直居中*/
    height: 100vh; /*占滿整個瀏覽器*/
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*陰影*/
    border-radius: 8px; /*圓角*/
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

h1 {
    color: 	#0368B8;
    font-size: 2em; /* em 是相對單位 */
}

.form-section {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
    color: #555;
}

.mySelect {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.松山新店線 {
    background-color: #018659;
    color: white;
}

.文湖線 {
    background-color: #C38C30;
    color: white;
}

.環狀線 {
    background-color: #FFDB00;
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* 鼠標指針 */
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* 轉乘站 */
.blue {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: #0368B8;
    padding: 5px 8px;       /* 垂直5px 水平8px */
    border-radius: 5px;     
    border: 2px solid rgba(8, 107, 188, 0.774); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    display: inline-block;  /* 塊級元素 */
}

.blue::before {
    content: "↔ "; 
    font-size: 1.2em; 
    color:white;
}


.resultDisplay {
    margin-top: 50px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;  
}

